// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container-cocktails {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  font-weight: 800;
}

.divider-2 {
  background-image: url(http://res.cloudinary.com/ddlesqeup/image/upload/v1573828608/otzv1mhbzzydew6zlyhx.png);
  background-size: cover;
  width: 100px;
  height: 20px;
  display: inline-block;
  z-index: 99;
  position: relative;
}

.add-cocktail {
  margin-top: 50px;
}

a {
  text-decoration: none !important;
  color: #333333 !important;
  background-color: transparent;
}
